   	<!-- gray box at top with sign in, if not signed in.-->
      	<div class="hero-unit">
        	
        	<p>Welcome to the ArchiDataBase!</p>
        	<p><a class="btn primary large">Sign In &raquo;</a></p>
      	</div>

		<!-- Page title -->
		<div class="page-header">
    		<h1>Project Name</h1>
  		</div>
  		
  		<div class="row"> <!-- start first row -->
  			<div class="span16">
  				<h4>Basic Information</h4>

  			</div>
  				
  			<div class="span10">
  				<form>
  					<fieldset>
  					
  						<div class="clearfix">
            				<label for="projectName">Project Name</label>
            				<div class="input">
              					<input class="span7" id="projectName" name="" type="text" />

            				</div>
          				</div><!-- /clearfix -->
          				
          				<div class="clearfix">
            				<label for="textarea">Project Location</label>
            				<div class="input">
              					<textarea class="span7" id="location" name="" rows="2"></textarea>
            				</div>
          				</div><!-- /clearfix -->

          				
          				<div class="clearfix">
            				<label for="client">Client</label>
            				<div class="input">
              					<input class="span7" id="client" name="" type="text" />
            				</div>
          				</div><!-- /clearfix -->
          				
          				<div class="clearfix">
            				<label for="primaryContact">Primary Contact</label>

            				<div class="input">
              					<input class="span5" id="primaryContact" name="" type="text" />&nbsp;&nbsp;&nbsp;
              					<button class="btn">Find Contact</button>
            				</div>
          				</div><!-- /clearfix -->
          				
          				<div class="clearfix">
            				<label for="billingAddress">Billing Address</label>
            				<div class="input">

              					<textarea class="span5" name="" id="billingAddress" rows="2"></textarea>
            				</div>
          				</div><!-- /clearfix -->
          				
          				<div class="clearfix">
            				<label for="phone">Phone</label>
            				<div class="input">
              					<input class="span5" id="phone" name="" type="text" />
            				</div>

          				</div><!-- /clearfix -->
          				
          				<div class="clearfix">
            				<label for="email">Email</label>
            				<div class="input">
              					<input class="span5" id="email" name="" type="text" />&nbsp;&nbsp;&nbsp;
              					<button class="btn span2">Compose</button>
            				</div>
          				</div><!-- /clearfix -->

          				
          			</fieldset>
  				</form>
          	</div> <!-- end span10 -->
          		
			<div class="span6">
				<form>
  					<fieldset>
  						
  						<div class="clearfix">
            				<label for="projectNumber">Project Number</label>

            				<div class="input">
              					<input class="span3" id="projectNumber" name="" type="text" />
            				</div>
          				</div><!-- /clearfix -->
          				
          				<div class="clearfix">
            				<label for="buildingType">Project Type</label>
            				<div class="input">
              					<select name="" id="buildingType" class="span3">

              						<option>Condos</option>
									<option>Educational</option>
									<option>Financial</option>
									<option>HD Dealership</option>
									<option>Historic Restoration</option>
									<option>Hospitality</option>

									<option>Industrial</option>
									<option>Library</option>
									<option>Maintenance</option>
									<option>Manufacturing</option>
									<option>Medical Elderly</option>
									<option>Medical Clinic</option>

									<option>Medical Hospital</option>
									<option>Mixed Use</option>
									<option>Municipal</option>
									<option>Museum</option>
									<option>Offices</option>
									<option>Performing Arts</option>

									<option>Planning</option>
									<option>Recreation</option>
									<option>Religious</option>
									<option>Residential Single</option>
									<option>Residential Multi</option>
									<option>Retail</option>

									<option>Sustainable Design</option>
									<option>Teaching</option>
									<option>Urban Design</option>
              					</select>
            				</div>
          				</div><!-- /clearfix -->
          				
          			</fieldset>

  				</form>
  			</div> <!-- end span6 -->
  					
  				
  		
        </div> <!-- end first row -->

