	<div class="container">
    	<footer>
        	<p>
        		&copy; The Kubala Washatko Architects, Inc., 2012
        		<% if signed_in? %>
        			 &nbsp; | &nbsp; <%= link_to "Users", users_path %>
                     &nbsp; | &nbsp; <%= link_to "Employees", employees_path %>
        		<% end %>
        	</p>
        	
      	</footer>
	</div> <!-- end container -->